@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<div>
    <span>@TempData["ErrorMessage"]</span>
    <div>Please try again later. If this error persists, contact the system administrator.</div>
</div>
