@model IEnumerable<BlogProject.Models.Author>
@{
    ViewBag.Title = "List";
}

<div id="containerlist">
    <nav>
        <a class="navlink" href="/Author/New">New Author</a>
    </nav>
    <h2>List of Authors</h2>
    <form action="/Author/List" method="GET">
        <input type="text" name="SearchKey" autocomplete="off" />
        <input type="submit" value="Search" />
    </form>
    @foreach (var author in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Author/Show/@author.AuthorId">@author.AuthorFname @author.AuthorLname</a></div>
        </div>
    }
</div>