@model BlogProject.Models.Author
@{
    ViewBag.Title = "Show";
}


<div id="containershow">
    <nav>
        <a class="navlink" href="/Author/List">Back To Authors</a>
        <a class="dellink" href="/Author/DeleteConfirm/@Model.AuthorId">Delete</a>
    </nav>
    <h2>@Model.AuthorFname @Model.AuthorLname</h2>
    <p style="font-style:italic;">Member Since @Model.AuthorJoinDate.ToString("dd-MMM-yyyy")</p>
    <p>@Model.AuthorBio</p>
</div>
