body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


nav{
    overflow:hidden;
    margin-bottom:30px;
}
.navlink {
    float: left;
}
.dellink{
    color:#dd1111;
    float:right;
}

.delbutton {
    display: block;
    margin: 0 auto;
    background: #dd1111;
    color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
}

#containerlist, #containershow {
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
}

.listitem {
    margin: 10px 0;
}

.inputrow{
    margin-bottom:15px;
    width:40%;
    overflow:hidden;
}
.inputrow input, .inputrow textarea{
    float:right;
}
.inputrow textarea{
    width:100%;
    max-width:none;
    float:none;
}
.inputrow input[type="submit"]{
    float:none;
    margin-top:50px;
}